.home-button {
    position: static;
    top: 20px;
    left: 20px;
    background: #7b7b7b;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    z-index: 1000;
  }
  
  .home-button:hover {
    background: #000000;
    transform: scale(1.1);
  }
  .back-button {
    position: static;
    
    top: 20px;
    left: 20px;
    background: #7b7b7b;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    z-index: 1000;
  }
  
  .back-button:hover {
    background: #000000;
    transform: scale(1.1);
  }
  body { 
    padding: 20px;
  }