
body {
  background-color: #f8f9fa;
  font-family: Roboto, sans-serif;
}

h2 {
  font-weight: bold;
  color: #343a40;
}

.table th,
.table td {
  vertical-align: middle;
  text-align: center;
}

.modal-body {
  max-height: 60vh;
  overflow-y: auto;
}
h4 {
  text-align: center;
}