

/* Imagen */
#img1 {
    width: 340px;
    height: auto;
    margin: 17px 30px;
}
.imgdiv {
    width: 400px;
    height: 200px;
    display: block;
    margin: 10% auto;
    background-color: white;
    border-radius: 15%;

}
/* Cuerpo de la página */
body {
    background: #ffffff;
    font-family: times;
}

/* Contenedor de botones */
.contenedor-botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    flex-direction: row;
}

/* Diseño responsive */
@media (max-width: 768px) {
    .contenedor-botones {
        flex-direction: column;
        align-items: center;
    }
}
#logout-btn {
    position:fixed;
}
/* Botones */
.btn1 {
    
    cursor: pointer;
    padding: 20px;
    background: #71ff84;
    font-size: 24px;
    border-radius: 10px 0 0 10px;
    transition: all 0.3s ease;
    position: relative;
    display: none;
    flex-direction: column; /* Para poner imagen arriba del texto */
    align-items: center;
    justify-content: center;
    width: 170px; /* Tamaño fijo */
    height: 160px;
    text-align: center;
}
#loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  color: #333;
  font-weight: 500;
}

/* Efectos de los bordes */
.btn1::before,
.btn1::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0 solid #fff;
    transition: all 0.3s ease;
}

.btn1::before {
    top: -1px;
    left: -1px;
    border-top: 3px solid black;
    border-left: 3px solid black;
}

.btn1::after {
    bottom: -1px;
    right: -1px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.btn1:hover {
    border-radius: 0;
}

.btn1:hover::before,
.btn1:hover::after {
    width: 100%;
    height: 100%;
}

/* Estilo del icono dentro del botón */
.icono-btn {
    width: 90%;
    height: 80%;
    background-color: white;
    border-radius: 20%; /* Hace que la imagen esté dentro de un círculo */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 5px; /* Espacio entre imagen y texto */
}

/* Ajuste de la imagen dentro del círculo */
.icono-btn img {
    width: 70%;
    height: auto;
}

/* Texto dentro del botón */
.texto-btn {
    font-size: 18px;
    font-weight: bold;
    color: black;
}
