body {
    background-color: #f8f9fa;
    font-family: times;
}

.container {
    max-width: 800px;
}

.table {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
}

@media (max-width: 900px) {


    .btnEditar, .btnEliminar {
        font-size: 13px !important; 
        padding: 1.8px 2px !important;
    }
    #btnAgregar {
        font-size: 13px !important; 
        padding: 1.8px 2px !important;
    }
    #btnAgregarEntradaSalida {
        font-size: 13px !important; 
        padding: 1.8px 2px !important;
    }
    #btnEntradaSalida {
        font-size: 13px !important; 
        padding: 1.8px 2px !important;
    }
    #btnAgregarSalidaEntrada {
        font-size: 13px !important; 
        padding: 1.8px 2px !important;
    }
    body {
        font-size: 14px;
    }
}